.container-fluid{
    height: 90vh;
    background: linear-gradient(to right, #50C7C7 50%, #ffffff 50%);
}

.center-screen{
    height: calc(100vh - 131.600px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center > span{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #3e64ff;
    letter-spacing: 4px;
}
.text-center h1{
    font-size: 60px;
    font-weight: 800;
}

.text-center #typewriter-text{
    font-size: 25px;
    color: #3e64ff;
    border-right: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: blink-caret 0.75s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }